body {
    margin: 0px auto;
    background-color: white;
}

main {
    margin: 0px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    font-size: 16px;
    color: white;
    border: 0.5rem solid rgb(41, 39, 39);
    background-color: black;
}

.container {
    margin: 1rem;
}

.container ul {
    padding-left: 1rem;
    list-style: none;
}

.container ul.no-padding {
    padding-left: 0px;
}

.keep-together p {
    margin-top: 0px;
}

.bold {
    font-weight: 800;
}

.no-underline {
    text-decoration: none;
}

a:link.bold.no-underline {
    color: slategray;
}

a:visited.bold.no-underline {
    color: slategray;
}

a:hover.bold.no-underline {
    color: slateblue;
}

a {
    color: white;
}

a:hover {
    color: rgb(135, 75, 163);
}

li p {
    color: rgb(175, 175, 175);
}


