<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../images/blue.png" alt="Textured blue bar.">

    <h1>recipy name</h1>
    <img src="" alt=""><!-- image of finished recipy -->

    <h2>Description</h2>
    <p></p><!-- area to add discription of the dish-->

    <h2>Ingredients</h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h2>Steps</h2>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>


    <img src="../images/blue.png" alt="Textured blue bar.">
</body>
</html>